h1 {
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 700;
  color: white;
}
ul {
  padding-left: 0;
}
li {
  list-style: none;
  font-size: 14px;
  font-family: system-ui;
  font-weight: 700;
  line-height: 18px;
}

button {
  margin: 0;
}
small {
  padding-left: 25px;
  position: relative;
  top: -20px;
}
.weather-app-wrapper {
  max-width: 700px;
  margin: 0 auto;
}

.weather-app {
  background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
  border: 0.5px solid lightgray;
  border-radius: 10px;
  padding: 50px 20px;
  margin: 50px 20px;
  margin: 25px 0;
}
.search-form {
  margin-bottom: 30px;
}

.form-control {
  margin-left: -25px;
}

.current-weather {
  font-size: 17px;
}
h3 {
  text-align: center;
  padding-bottom: 0px;
  font-size: 15px;
  font-weight: 500;
}
.temperature {
  text-align: center;
  font-size: 15px;
  padding-bottom: 5px;
  font-weight: 500;
}
.todays-weather {
  position: relative;
  padding-left: 30px;
  top: -20px;
  width: 80px;
}
.weather-forecast-img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}
.weather-forecast-temperature {
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  text-size-adjust: 100%;
}

.other-info {
  font-weight: 500;
  padding-left: -50px;
}
.search-form {
  padding-left: 50px;
}
.day-picture {
  display: block;
  margin: 0 auto;
  position: relative;
}
.open-source-link {
  text-align: center;
  padding-left: 20px;
}
